extends layout

block content
  h1= title
  div We listen! Come and let us have a conversation.
  p 
  div    
    table
        
        tr
          td Email:
          td info@miss-mo.com
        tr
          td Phone:
          td 234 - 806 - 221 0588 
        tr
          td Address:
          td 1, Queens Street, Alagomeji, Yaba, Lagos
        tr
        tr
          td Contact Us today! 
          td We respond almost immediately

