extends layout

block content
  h1 Miss MO Integrated Solutions
  //- p Welcome to #{title}
  h4 At Miss MO, we offer cutting-edge digital solutions to meet various users need at competitive price.
  
          
