doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      div 
        ul 
            li 
                a(href='/')  Home
            li 
                a(href='/ourServices') Our Services
            li 
                a(href='/contactUs')  Contact Us
      div.bannerImage
        img(src="./images/image1.jpg", alt="banner_image")
          
    block content
          
