extends layout

block content
  //- h1= title
  h2 These are our services, engineered to give utmost customer satisfaction!
  

  // a div with the class 'service-item' to apply styling
  div.service-item
    h3 Web Development
    p Creating awesome websites tailored to your needs.

  div.service-item
    h3 Mobile App 
    p Building cross-platform mobile applications.

  div.service-item
    h3 SEO Optimization
    p Improving your website's visibility on search engines.

  div.com 
    h3 We are always ready to serve you.    
